@layer base {
  * {
    -electron-corner-smoothing: 60%;
  }

  body {
    @apply bg-background grid h-screen grid-rows-[40px_1fr] px-4 pt-0 pb-4;
  }

  html:not(.touch-mode) button:hover {
    @apply bg-app-500 text-white shadow-lg;
  }

  button {
    @apply bg-panel-50 items-center justify-center rounded-md border border-slate-200 px-4 py-2 text-center text-sm shadow-sm transition-all;
    @apply active:bg-app-700 active:text-white active:shadow-none;
    @apply disabled:pointer-events-none disabled:opacity-50;
  }

  select {
    @apply h-8 rounded border border-slate-200 bg-transparent py-2 pr-8 pl-3 text-sm text-black shadow-sm transition-all;
    @apply hover:border-slate-400 focus:border-slate-400;
    @apply disabled:opacity-50;
  }

  label {
    @apply mb-1 text-sm text-slate-800;
  }

  input {
    @apply h-7 rounded border border-transparent text-center text-sm shadow-sm transition-all;
    @apply hover:border-slate-400 disabled:opacity-50;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@source inline('{sm:,md:,lg:,xl:,}grid-cols-{1,2,3,4,5,6,7,8,9,10,11,12}');
